.tag {
  color: #291356;
  font-size: 1.2em;
  font-weight: bold;
}

.books-section {
  width: 200%;
  height: 81%;
  position: relative;
  display: flex;
  transition: transform 1s ease-in-out;
}

.tag-section {
  transition: all ease-in-out 200ms;
}

.tag-section {
  @apply h-52;
}

.book-title {
  font-size: 1em;
  line-height: 20px;
  color: #442583;
  font-weight: bold;
  margin-right: 20px;
}

.book-info {
  width: 60%;
  margin-top: 15px;
  margin-left: 10px;
}

.book-author{
  font-size: 0.8em;
  color: #291356;
}

.book-item {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  width: 270px;
  border-radius: 10px;
}

.book-item {
  @apply h-36;
}

.book-cover {
  width: 35%;
  border-radius: 10px;
  height: 100%;
}

.slide-button {
  position: absolute;
  display: grid;
  place-content: center;
  border-radius: 50px;
  top: 44%;
  font-size: 60px;
  z-index: 100;
  height: 60px;
  width: 60px;
  text-align: center;
  transition: all 1s;
  opacity: 0;
}

.slide-button:hover {
  background-color: white;
}

.slide-button-left {
  left: 0px;
}

.slide-button-right {
  right: 20px;
}

.more-btn {
  @apply rounded-full h-10 w-10 bg-white flex items-center justify-center relative top-1/2 ml-8 transition-transform;
}

.more-btn:hover {
  @apply scale-110;
}

.more-btn svg {
  @apply stroke-2 text-[#081b34];
}

.section-full {
  transition: all ease-in-out 200ms;
}

.section-full {
  @apply bg-white h-[93vh] absolute -top-20 p-4 rounded-lg z-50;
}

.section-full .books-section {
  @apply flex-wrap w-full h-full;
}

::-webkit-scrollbar {
  width: 5px;
}

.invisible-scrollbar {
  scrollbar-width: 2px;
}

.section-full .books-section .book-item {
  @apply h-36;
}

.section-full .more-btn {
  @apply hidden;
}

.close-btn {
  @apply absolute right-4 top-4;
}

.tag-section .close-btn {
  @apply hidden;
}
