.cont {
  height: 100vh;
  width: 100vw;
}

.form-card {
  width: 24%;
  height: 80%;
  z-index: 900;
  margin-left: 37%;
}

h1 {
  color: #291356;
  font-family: Epiloque-SemiBold;
  display: block;
}

p {
  font-size: 13px;
  color: #39393d;
}

form {
  margin: 25px auto;
}

.input {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 32px;
  margin-top: 25px;
  border-color: #dedada;
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
}

input {
  display: block;
  width: 95%;
  height: 100%;
  outline: none;
  border-radius: 8px;
  color: #5e5e5e;
}

input[placeholder] {
  font-size: 13px;
}

button {
  text-align: center;
  display: block;
  margin: 20px auto 10px;
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: translateY(-3px);

}

a {
  color: rgb(34, 197, 94);
  transition: all 200ms ease-in-out;
}

a:hover {
  text-decoration: underline;

}
