@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Epiloque;
  src: url("assets/fonts/Epilogue-Regular.ttf");
}

@font-face {
  font-family: Epiloque-Bold;
  src: url("assets/fonts/Epilogue-Bold.ttf");
}

@font-face {
  font-family: Epiloque-SemiBold;
  src: url("assets/fonts/Epilogue-SemiBold.ttf");
}

* {
  font-family: Epiloque;
}

body {
  background-color: #ebebeb;
}
